[2017-08-10 05:14] ocehugo opened #21 "memory leak - geo_strf_dyn_height"
Hello,

Facing interpreter crash with a malloc error/overflow.

[code]

Behaviour on my OSX:  Sometimes x =(-0.22), sometimes x=nan, sometimes a total crash of the interpreter:

[code]

Behaviour on a different machine (linux): Totally fine with k<=20. But if `k`, the pressure interval, is increased - say 60 I got a backtrace:

[code]

Python versions are different between machines (3.6.2 vs 3.5),

[2017-08-10 07:04] efiring commented on #21
Thanks for the good test case.  I can confirm this on my OSX installation also.  I will try to work on this tomorrow, starting with some updates from GSW-C.

[2017-08-10 22:55] efiring commented on #21
So far, testing indicates that the failure is restricted to the case where p_ref < p_min.

[2017-08-11 00:33] efiring commented on #21
There appear to be major problems even in the latest C code; once they are straightened out, I will port the C over and see if that takes care of everything here.

[2017-09-06 18:06] rabernat opened #22 "conda-forge package?"
This package looks like a great improvement over the prior version. I am very pleased to see people working on this!

Providing a conda package via a [conda-forge recipe](https://conda-forge.org/#add_recipe) would help overcome the c-compiler issue you raised in the Readme and make it very easy for users to install the package. @ocefpaf knows quite a bit about how to do this...

[2017-09-06 18:13] ocefpaf commented on #22
It is already packaged in conda-forge btw. Just install gsw from there.

[2017-09-06 18:13] #22 closed

[2017-09-06 18:15] rabernat commented on #22
Ok sorry for the mistake. I recommend mentioning this in the readme and / or adding a badge. Otherwise it is hard to know this if you land on the github page.

[2017-09-06 18:16] efiring commented on #22
Just be aware that the geostrophic streamfunction calculation has problems, which I am in the process of solving.  As far as I know, all the rest--the basic equation of state-related calculations--is OK.  I hope to get back to the streamfunction calculation in C, and get the revision finished within the month.

[2017-09-06 18:19] rabernat commented on #22
@efiring thanks for the update!
I will be using this in my fall Intro to Physical Oceanography class for basic equation of state calculations...nothing so fancy as geostrophic streamfunction!

Thanks again for your important work on this package. A great service to the community.

[2017-09-18 16:51] ocefpaf commented on #21
Closed by #24

[2017-09-18 16:51] #21 closed

[2017-10-21 11:35] webbpinner opened #26 "Complilation failure during install via pip3"
I just tried to install gsw on Mac OS X (v10.10) using pip3 and got the following error:
[code]

Looking at `./src/_ufuncs.c` I was wondering if there's a path error when including `gswteos-10.h` since the header file is in the `/src/c_gsw` subdirectory.

I had just previously used pip3 to install Pandas (v0.20.3) which installed numpy (v1.7.0).

Is this a possible bug in the installation script o

[2017-10-21 14:14] ocefpaf commented on #26
Not sure why `clang` is failing there :-/ `setup.py` does have that directory in the [`include_dirs`](https://github.com/TEOS-10/GSW-Python/blob/master/setup.py#L110) section and everything works for me locally on a Linux machine (vanilla `pip install`), and on a Travis-CI instance of `OS X` [here](https://travis-ci.org/conda-forge/gsw-feedstock/jobs/277572579). (Note that in the `OS X` image we u

[2017-10-22 12:03] webbpinner commented on #26
Thank you for your prompt response.  I tried to back out of what I was doing and install from scratch.  The first thing I encountered was that OS X v10.10 doesn't include python3.

In my first attempt I used Brew to install python3... after which I was unable to install gsw.
In my second attempt I installed python3 via the installer from python.org.  Doing this I was able to successfully install g

[2017-10-22 13:07] ocefpaf commented on #26
Cool. Closing it then.

[2017-10-22 13:07] #26 closed

[2018-05-29 01:19] efiring opened #29 "Appveyor claims success when build has actually failed."
My #28 got the green light from Appveyor, but the build failed badly.
https://ci.appveyor.com/project/efiring/gsw-python/build/1.0.61/job/h3nfsxeg7mt4fma3

[2018-05-29 11:55] ocefpaf commented on #29
Windows has some odd exit codes and conda may be masking the failure. I'll look into it.

[2018-05-29 16:39] ocefpaf opened #31 "Add the docs URL at the top on GitHub"
@efiring I don't have the rights here to do that but it would be nice to have the link https://TEOS-10.github.io/GSW-Python at the to like most projects do.

Here is a screeshot of it using my fork:

![screenshot from 2018-05-29 13-36-32](https://user-images.githubusercontent.com/950575/40672532-75d9f398-6345-11e8-851b-c963c39b1e3a.png)

PS: it helps some automated tools to find the docs too.

[2018-05-29 18:55] efiring commented on #31
Good idea, thank you.  Done.

[2018-05-29 18:55] #31 closed

[2018-05-29 18:56] ocefpaf commented on #31
Thanks!

[2018-07-26 13:15] mcepl opened #39 "Please package gsw/tests into the distribution tarball"
While packaging GSW for openSUSE, I would like to run test suite. For now I have packaged ``gsw/tests`` directory from the git repository myself, but it would be lovely if I could get it automatically from the distribution tarball. Thank you.

[2018-07-26 13:18] ocefpaf commented on #39
The tests require some extra big binaries and packages to parse the matlab files.
I don't plan to bloat the PyPI source distribution with those files.

I recommend you to get the [source from git](https://github.com/TEOS-10/GSW-Python/releases/tag/v3.2.1) of you really need that.

[2018-07-26 13:18] #39 closed

[2018-07-26 13:36] mcepl commented on #39
OK, thanks

[2018-07-26 13:41] ocefpaf commented on #39
No problem. BTW, as a former OpenSUSE packager myself, I recommend switching to `conda` and `conda-forge` to install your packages ;-)

[2018-07-26 13:55] mcepl opened #40 "test_check_function[cfcf71] fails on 32bit openSUSE"
When running test suite (yes, perhaps you are right in #39 and it is an hopeless effort) on 32bit machine (see
[build log](https://github.com/TEOS-10/GSW-Python/files/2232254/_log.txt)) I get this one test failing:
[code]

[2018-07-26 14:00] ocefpaf commented on #40
We would need to run the tests in a "more verbose" mode to check the values. My guess is that the diff tolerance would need to be adjusted there and those are not real failures. (I may be wrong though, we never tested on 32 bit!)

[2018-07-26 17:59] efiring commented on #40
What do you get if you build the underlying C library (https://github.com/TEOS-10/GSW-C) and run its test function?

[2018-07-27 05:59] mcepl commented on #40
Sorry, we don't have that packaged, and I don't have time right now to hunt some proper 32bit VMs to play with it.

[2018-11-26 22:13] zhang-c opened #41 "Error in geo_strf_dyn_height"
Hello,

I try to use the geo_strf_dyn_height function in geostrophy.py, but it didn't work if p_ref is above the shallowest pressure. I think the code "if pgood[0] < p_ref:" means that p_ref is below the shallowest pressure. Therefore, it should be "if pgood[0] > p_ref:" instead. Thanks!

[2018-11-26 22:49] efiring commented on #41
Good point, thank you.  I will fix it and add a test for this.

[2019-01-01 19:58] #41 closed

[2019-02-16 09:46] sebix commented on #40
So would you say that 32bit is not (officially) supported?

[2019-02-16 16:46] efiring commented on #40
Yes, unless someone steps forward to handle both 32-bit testing and solving any problems that arise, it will not be supported.  I'm surprised that even one test failure has turned up, given that the calculations are all explicitly double precision, which should not depend on 32 vs 64 bit architecture. I would be happy to see someone track this down and supply a PR to fix it, if it really is in the

[2019-02-20 03:03] DocOtak commented on #40
I did some digging into this one and would like to summarize what I found with some options for what we might do.

#### The Journey
Using the i586 version of openSUSE/Tumbleweed, I was able to reproduce the reported test failure in the python version of GSW. Compiling the GSW-C version directly also produced a failure with `gsw_check` specifically in the pt_second_derivatives function. I also atte

[2019-02-20 04:04] efiring commented on #40
@DocOtak, that is an impressive investigation. Thank you.

It looks like some (at least one) of the most recent matlab package check value tolerances differ from what we are using.  Three values are used in the failing test. The current Matlab file:
[code]
What we are using:
[code]
Notice that only one of these values ('SA_SA') has changed, and it is much larger than the one we are using.  Evident

[2019-02-20 04:59] DocOtak commented on #40
Looks like I failed to say that I could only reproduce this problem on the openSUSE system, none of the other 32-bit systems I tried would have this issue. Also, I didn't dig into any differences in i586 vs i686 and other arch issues.

@efiring sounds like we might just want to update the check data... the 1.73[...]e-14 value was the one being given by the `gsw_check` tool in GSW-C. My guess would

[2019-02-20 07:05] efiring commented on #40
Unfortunately, it turns out that a wholesale updating of the check values and tolerances breaks 2 other tests.

[2019-02-26 19:41] DocOtak commented on #40
Does it break them by much? I've been thinking about this and have some questions:
* How are these check values and tolerances made?
* Would this need to be fixed in the upstream GSW-C?
* For this specific issue, is there concern that the library will produce the "wrong answer" for people using the 32bit openSUSE install?

I had some other question... but in the middle of writing this lost track o

[2019-02-26 21:02] efiring commented on #40
On 2019/02/26 9:41 AM, Andrew Barna wrote:

Paul Barker will have to answer that.  It might be documented somewhere.
I presume the check values are simply whatever the current matlab code
yields, and the tolerances are the output of some algorithm that
estimates how much floating-point slop there might be from one
implementation to another.

Yes, I think we will find that the tolerance is incorrec

[2019-03-22 16:16] emmaworthington opened #46 "Difference results from geo_strf_dyn_height compared to Matlab version."
I'm converting code from Matlab to Python, and calling gsw.geo_strf_dyn_height with the same conservative temperatures, absolute salinities, pressures and reference pressure as Matlab's gsw_geo_strf_dyn_height, however the two functions give different results. They are only comparable to 1 decimal place. I'm using the default interpolation method (pchip), linear interpolation gives results even mo

[2019-03-22 16:42] efiring commented on #46
The matlab version is a moving target so I don't expect exact agreement when interpolation comes into play, but the differences should be quite small unless the vertical sampling is extremely coarse.  Can you send me a zipfile or tarball with the data and scripts you are using and the results you are getting, preferably stripped down to just enough to show the different results? efiring at hawaii

[2019-03-22 16:49] emmaworthington commented on #46
Will do - is netcdf4 format OK?

[2019-03-22 16:54] efiring commented on #46
Yes, netcdf4 is good.

[2019-03-22 16:57] efiring commented on #46
Also, if you are working with a section, it's OK to send the whole section.  What matters in the end is the horizontal gradient, not the dynamic height at a point.

[2019-03-27 14:06] emmaworthington commented on #46
Happy to close this issue following email discussion with @efiring. The differences between the Matlab and Python implementations are there (most likely due to different interpolation methods being used), but are small enough not to significantly affect the resulting transports calculated from them.

[2019-03-27 14:06] #46 closed

[2019-03-28 10:27] chpelletier opened #47 "Broadcasting in p_from_z"
I don't get the broadcasting rules used in `gsw.p_from_z` (for example). Suppose I have two 1D arrays, `depths` containing depth levels (size `nz`), `lats` containing latitudes (size `ny`). If I want to compute sea pressure at all `nz*ny` nodes located at each depth/latitude combination, how would I do? Broadcasting as I usually do in Numpy gives me a 1D array, which is not what I expected.

[code

[2019-03-28 17:00] efiring commented on #47
It's just standard numpy broadcasting. Try this:
[code]
yielding
[code]
It could even be simplified a bit because the second `np.newaxis` is unnecessary (but perhaps useful in this case for readability); numpy will add axes to the left as needed:
[code]

[2019-03-29 09:21] chpelletier commented on #47
Thanks.

I've realized that the problem was coming from using keyword arguments for `z` and `lat`. If I follow up from your example, and call `p_from_z` with explicitly specifying of the arguments, I reproduce the problem I originally had:
[code]
yielding:
[code]

Is this an expected behaviour? Should I refrain from using keyword arguments (except `axis`)?

[2019-03-29 16:57] efiring commented on #47
Almost all gsw functions make a sharp distinction between positional and keyword arguments.  They use a decorator that processes the positional arguments, and then they pass those processed arguments and the kwargs, if any, to a numpy ufunc.  At present any parameters that appear in the signature as positional should be considered as positional-only.  Eventually it may be possible to enforce this:

[2019-04-01 06:55] #47 closed

[2019-04-16 21:14] giumas opened #48 "z_from_p function with missing geo_strf_dyn_height parameter"
The [old version](https://github.com/TEOS-10/python-gsw/blob/master/gsw/gibbs/conversions.py#L824) of `z_from_p` had this signature: `def p_from_z(z, lat, geo_strf_dyn_height=0)`.

The [new version](https://github.com/TEOS-10/GSW-Python/blob/v3.1.0/gsw/_wrapped_ufuncs.py#L4307) of `z_from_p` does not have the optional `geo_strf_dyn_height` parameter.
However, the docstring refers to it: `Dynamic h

[2019-04-17 20:10] efiring commented on #48
Does anyone actually use the two optional parameters?  I left them out of the C version because it is a considerable simplification when wrapping the C to make the Python function.  I missed the problem you point to here: taking the description from the Matlab leaves it with the references to the two missing optional parameters.
Options:
1) Leave the optional arguments out of the C and the Python,

[2019-04-17 20:38] efiring commented on #48
Also, whatever is done for `p_from_z` should be duplicated for `z_from_p`.
I'm leaning towards option (2) above.

[2019-04-17 21:10] giumas commented on #48
It would work great for us!

[2019-04-18 11:02] dankelley commented on #48
I like option (2) for the R version.

[2019-04-22 13:13] #48 closed

[2019-09-24 16:44] DocOtak opened #51 "Official Listing on teos-10.org"
I had a good conversation with @PaulMBarker at OceanObs19. He expressed interest in having the python version listed on the [teos-10 software website](http://www.teos-10.org/software.htm). I'm not sure what the process would be. It looks like packages are hosted on that site directly, so probably just give them our "release" packages.

My guess is that most people are installing via conda-forge or

[2020-02-17 14:03] HandmannP opened #52 "pygamman ?"
Is there the plan to include the function fro neutral density also in the python TEOS10 toolbox?

[2020-02-17 15:12] efiring commented on #52
What is the corresponding function in the Matlab version?

[2020-02-17 15:22] HandmannP commented on #52
There is an additional function to install to calculate neutral density wich would be nice to have directly in the base installation with conda of the gsw tool box for python:
https://github.com/guidov/pygamman

As you can see there are no updates since 4 years - so I thought it would be worth to mention it here?
Do you think it would be possible?

[2020-02-17 15:34] efiring commented on #52
I don't think we can do that.  Gamma_n seems not to have been accepted into the TEOS-10 world. I have long had my own wrapper for that old code: https://currents.soest.hawaii.edu/hgstage/pygamma/.
Major functionality needs to be kept in sync among the primary TEOS-10 packages.
I do intend to help get a version of geo_strf_isopycnal into GSW-Python.

[2020-02-17 15:40] HandmannP commented on #52
Mhh, Why has it not been accepted?
Is neutral density not interesting due to the lookup system? It is still broadly used, but there is no easy to install package for python yet.

[2020-02-17 15:53] guidov commented on #52
This gamma_n is useful, but the lookup system is problematic. Things break down when you are away from modern type ocean values (e.g. paleoclimate simulations).
A general calculation of gamma_n seems problematic from my impression of the literature.
What do you think @efiring ?
e.g. see some of Geoff's Stanley's work
https://www.marshallocean.net/uncategorized/neutral-surface-topology/

[2020-02-17 16:02] efiring commented on #52
TEOS-10 is based on a comprehensive re-thinking and re-formulation of the equation of state. Gamma_n is a particular way of approximating neutral surfaces, given a basic state--specifically, the recent mean mean state, on a rather coarse grid.  It is based on a design choice: putting the inevitable discontinuity in Drake Passage. TEOS-10 is also somewhat tied to modern conditions via its salinity

[2020-02-17 16:50] DocOtak commented on #52
If I'm correctly recalling conversations with @PaulMBarker at OceanObs, he had presented a poster on a new neutral density surface function that was in review. I was planning on finding him at Ocean Sciences and asking what the status was. This was dependent on a new profile interpolation function that did not require the water column/profile to be stable (also in review?).

[2020-02-18 10:25] HandmannP commented on #52
That sounds very interesting. It would be great to hear about the progress of the new neutral density surface function of @PaulMBarker after the San Diego meeting.

[2020-04-16 08:07] PaulMBarker commented on #52
Now that the interpolation paper has been published I have added the interpolation codes to the matlab code only directory. I will work on the new matlab release. I will do my best to add the reports of bugs and typos in other functions that have been sent along since the last release.

I am working on a new version of the Neutral Density code. Now that we have completed the interpolation and stab

[2020-04-16 08:10] PaulMBarker commented on #52
Forgot to add,

The more data I get, the better Neutral Density will be.

[2020-04-16 21:00] DocOtak commented on #52
@PaulMBarker Wow that list of data sources is pretty comprehensive so I wouldn't worry too much about trying to find things not in one of those data sources.

[2020-04-17 07:30] HandmannP commented on #52
@PaulMBarker Sounds great, right now I can't think of other data sources - But I'am unsure how the PANGEA data is included?!

[2020-04-28 08:24] PaulMBarker commented on #52
Following you note, I have tried to get the PANGEA data but was only able to download data in the Mediterranean Sea.  I have now included CCHDO data.

[2020-07-16 04:08] PaulMBarker commented on #51
Hi,
The time has come for me to update the software page on the TEOS10 website.
How should I add a link or note or ??? to point to the python version?
Paul.

[2020-07-16 04:45] durack1 commented on #51
@PaulMBarker this is where the conda (prepackaged python libraries, easy to install) live https://anaconda.org/conda-forge/gsw. V3.3.1 appears to be the latest version available in this repo https://github.com/TEOS-10/GSW-Python/releases

[2020-07-16 06:49] efiring commented on #51
I presume this refers to this page: http://www.teos-10.org/software.htm.

I suggest adding something like this:

The Python version is developed at https://github.com/TEOS-10/GSW-Python, from which the latest source code can be downloaded.  For most users, however, using a conda-based Python distribution (miniconda, https://docs.conda.io/en/latest/miniconda.html, or Anaconda, https://www.anaconda.

[2020-07-16 06:52] efiring opened #53 "README needs to be updated"
It was hastily written a long time ago--lots of room for improvement.  It should include the availability via conda-forge, and probably note that only the source tarball is available from PyPI.

[2020-07-16 10:55] PaulMBarker commented on #51
Yes, I did mean that page. thanks for your suggestion. I will use it if I do not get any better suggestion that you all prefer.

Paul.

[2020-07-16 16:55] ocefpaf commented on #51
That looks good to me. Thanks!

The package is also pip installable if you are OK compiling the source but most users who try that knows about it, I would not bother to add that to the page. I'd like to change the text only when we get wheels\* on PyPI.

\* pre-compiled binary distributions. I'm working on setting a CI to build that for us.

[2020-07-16 19:23] DocOtak commented on #51
Having an actual zip distribution on the TEOS page would not be how the vast majority of users would install the toolbox. I'm with the wording and looking forward to having a wheel on pypi. I don't know what voodoo magic the netCDF4 python people are pulling, but their wheels have the C netCDF library itself embedded in it and things "just work" (at least in my docker containers).

Once listed, wo

[2020-07-16 19:32] DocOtak commented on #51
Just noticed #53 that seems to answer my "readme" question.

[2020-07-16 19:34] ocefpaf commented on #51
@DocOtak wheels for `gsw` are actually easier to build than netcdf4-python b/c we don't need to bundle any external non-python library, just compiled on all platforms, test it, and :shipit:.

The main tool for that is [multibuild](https://github.com/matthew-brett/multibuild). That is the one used for netcdf4-python btw.

[2020-07-17 02:01] PaulMBarker commented on #51
When the check functions was added and it was confirmed that the routines passed those functions the  "this implementation isn't official"  text could have been removed.
I will modify the test to indicate that codes either downloaded or listed/inked from the teos-10 website are all official.

[2020-07-21 16:44] ocefpaf commented on #53
This is partially addressed in #54

[2020-08-20 08:55] ggardet commented on #40
It fails the same way on `aarch64`. But `-ffloat-store` workaround does not work there.

[2020-08-20 17:32] DocOtak commented on #40
@ggardet thanks for the report.

I'm wonder what the implications are for the recently announced Apple transition to an ARM architecture. Same with a major cloud provider (AWS Graviton).

[2020-08-20 18:31] ocefpaf commented on #40
They cannot run Fortran on that yet so most of the scientific stack won't have SciPy and numpy. Numpycan be Fortran free by removing `f2py` and linking against a non-Fortran blas but that is not the usual way, most of numpy variants out there are openblas or mkl, both rely on Fotran.

[2020-08-20 20:17] DocOtak commented on #40
For reference, the aarch64 failure is reproducible in a docker container of the right architecture. I think it uses qemu for emulating arm on intel.

<details>
<summary>pytest FAILURES</summary>

[code]
</details>

[2020-08-27 21:58] ocefpaf opened #62 "Wheels test"
I just installed the Windows wheels and ran the tests, all green 🎉

@efiring or @DocOtak do you have a macOS to test them?
While we do test the code in the CIs I just want to be sure users will get the wheel and the tests will pass on a non-standard environment.

The wheels are in https://pypi.org/project/gsw/#files

~~PS: Linux wheels are not produced and uploaded yet. See #61. But I'm not in a h

[2020-08-27 22:46] DocOtak commented on #62
For me on macOS 10.15, it successfully, and quickly, installed with `pip install gsw==3.3.1.post1` however I was unable to run the tests in situ using `pytest --pyargs gsw` due to the missing/excluded `gsw_check_functions_save.m` file from the wheel. When I manually put that file in the correct site-packages location, tests passed happily.

[2020-08-27 23:09] ocefpaf commented on #62
That is not in the wheel and usually should bot be there. We would also need to ship the comparison data inflating its size. You'll have to run the tests against the source code, as you did :smile:

However, if it is only the `.m` that is missing we can ship it without increasing the size that much. I'll check if that is worth it.

PS: it will be odd to ship a python package with a matlab file :st

[2020-08-27 23:13] DocOtak commented on #62
By my digital napkin calculations, It would add about 13k to the wheel, and about 110k to the installed size.

[2020-08-27 23:14] ocefpaf commented on #62
Closing this. Thanks @DocOtak for testing it on macOS. We now have automated creation of wheels on Linux, macOS, and Windows. Note that only the Linux ones are automatically uploaded to PyPI. The other two platform will be uploaded as artifacts in the run, like this one https://github.com/TEOS-10/GSW-Python/actions/runs/227778225, and we will need to manually upload them to PyPI.

The reason for t

[2020-08-27 23:14] #62 closed

[2020-08-30 00:29] ocefpaf commented on #40
I'm testing both aarch64 and ppc64le in https://github.com/conda-forge/gsw-feedstock/pull/22, they both fail the checks.

[2020-08-30 12:55] ocefpaf commented on #40
BTW, this is a commented from someone in conda-forge who is very knowledgeable on this topic:

x86_64 has 80-bit floating point registers and some calculations might benefit from it

I'm not sure what is the best solution here. Maybe we are requiring a precision in the comparisons that does not really make sense for the data and maybe lowering the tolerance for all tests is fine. Or, we could have

[2020-08-30 17:56] efiring commented on #40
As noted above (https://github.com/TEOS-10/GSW-Python/issues/40#issuecomment-465413874 and subsequent comment), the case that triggered this thread can be closed by updating a tolerance, here and in the C repo, but wholesale updating would require more work.

@PaulMBarker, how are the check-value tolerances calculated?

[2020-08-30 18:03] ocefpaf commented on #40
Yep. I just wanted to bump this so we can get https://github.com/conda-forge/gsw-feedstock/pull/22 merged without ignoring the failures.

[2020-08-30 18:53] efiring commented on #40
OK, I will see if I can come up with a quick fix.

[2020-08-30 21:31] efiring commented on #40
#63 should close this--unless it ends up triggering some new failures on some architectures. Almost everything changed in the test input data, check values, and tolerances between the matlab version we were using as our base before, and what is in the current Matlab zipfile, v3_06_11, which is used in #63.

[2020-08-31 17:46] DocOtak commented on #40
In my emulated arm environment, #63 moved the failing test to the ICT_second_deriv test, Ipt_second_deriv seems happy now though.

<details>

[code]
</datails>

[2020-08-31 18:22] efiring commented on #40
Interesting: it looks like the C version closely follows the Matlab version, and *both* make a fundamental mistake in their numerics that needlessly loses accuracy.  Here is an example from part of the Matlab version:
[code]
Notice that those denominators should be just `2 * dpt`, for which `(pt_u - pt_l)` is a less accurate estimate, throwing away 2-4 significant digits of precision. @PaulMBarker

[2020-09-01 02:21] PaulMBarker commented on #40
Thanks for bringing this to my attention. Fortunately I have been side tracked and have been working on combining all of my observed data into one dataset and have not added the new code to the website.

[2020-09-01 02:42] PaulMBarker commented on #40
I have added 3 programmes that I use to make the values contained in the gsw_checkfunctions to the matlab directory.

gsw_check_values_gsw.m        - makes the check values
gsw_check_values_ca.m           - makes the tolerances
gsw_check_values_datafile.m   - makes the netcdf file

the code is in GSW-Matlab/checkfunctions_code/

[2020-09-01 03:15] efiring commented on #40
Thank you.  Now I see how the tolerances are based on perturbations of the check cast values, with the largest resulting perturbation of the function output being used as the tolerance.  The perturbations are 1.3e-10 for SA, 6e-10 for t, and 2.3e-8 for p.

[2020-09-01 16:36] ocefpaf opened #65 "Check if we can implement NEP18"
See https://discourse.pangeo.io/t/wrapped-for-dask-teos-10-gibbs-seawater-gsw-oceanographic-toolbox/466/2 for the discussion and https://numpy.org/neps/nep-0018-array-function-protocol.html for the NEP.

@efiring, if you think this is beyond the scope here feel free to just close it and we can work on a wrapper around `gsw` instead.

[2020-09-01 17:32] efiring commented on #65
NEP 18 is mind-bending, but I get the impression that for most GSW functions, it could be implemented by using a different decorator.  We already use the `match_args_return` decorator to handle masked arrays.  I get the impression that for functions like those in GSW, NEP 18 can also be implemented via a decorator.  It seems like it is supposed to enable exactly the sort of thing we do in `match_a

[2020-09-03 18:57] gmacgilchrist opened #66 "Plans for full xarray compatibility?"
The toolbox is broadly compatible with [xarray](https://github.com/pydata/xarray) DataArrays, but struggles when needing to do things such as broadcast along specific dimensions (a particularly powerful feature of xarray objects), or when xarray objects are separated into "chunks" using [dask](https://github.com/dask/dask). The broadcasting issue can be worked around using the xarray `apply_ufunc`

[2020-09-03 19:09] efiring commented on #66
There are no plans because I don't yet understand how to do it. See discussion in https://github.com/TEOS-10/GSW-Python/issues/65. Is it just a matter of special-casing DataArrays so that they are passed through by the `match_args_return` decorator?  And then the magic happens in the existing ufuncs, provided the numpy and xarray versions are new enough?

[2020-09-03 19:50] gmacgilchrist commented on #66
Thanks for linking that to that discussion, which I hadn't realized was about the same thing. Unfortunately I'm not a wizard, so I wouldn't want to hazard a guess at where the magic happens, or how challenging it would be! My intuition says "not too hard", if one of the active xarray developers could be roped in to assist.

If everything can be done with `xr.apply_ufunc` then perhaps this is suffi

[2020-09-03 19:53] DocOtak commented on #66
I started looking into this after #65 was made. NEP 18 appears to apply only to folks implementing numpy like containers or subclasses. This toolbox only provides a pile of ufuncs that operate on numpy like containers. Xarray does support [directly calling ufuncs on its objects ](https://github.com/pydata/xarray/pull/1962/). The problem I think is the "dask" argument, passing a value of "allowed"

[2020-09-03 20:22] gmacgilchrist commented on #66
Yes, I think this was the issue, setting to `'parallelized'` appears to have done the trick. Previously, it seemed as though `gsw` was confused about the chunked dimension and thus simply ignoring it, such that it tried to return an N-d array as an (N-1)-d array, which crashed.

If `xr.apply_ufunc` works seamlessly, the only consideration then is beautifying of code, which doesn't seem worth exten

[2020-09-03 20:46] efiring commented on #66
It looks to me like a few simple changes in our decorator would take care of the ufuncs, which comprise most of the package.  I think the special-casing would for objects with `__array_ufunc__`` methods; if one is found in the argument list, we would just pass everything through to the underlying ufunc (or maybe still handle masked arrays first).

What we need to try this is a nice simple self-con

[2020-09-04 13:10] gmacgilchrist commented on #66
Great that you've implemented something that appears to handle this - thank you!

What might a test suite look like? I spent a bit of time this morning trying to reproduce, in a very simple configuration, some of the common errors that I was getting previously when passing xarray objects as arguments. Not sophisticated by any stretch, but it could provide some basis for a test suite? You can see t

[2020-09-07 02:40] #66 closed

[2020-09-07 02:42] efiring commented on #65
I'm going to consider this closed by #67; feel free to reopen it, or open a new issue, as needed.

[2020-09-07 02:42] #65 closed

[2020-09-07 03:20] efiring commented on #51
I think this is closed by the recent updates to the main website.

[2020-09-07 03:20] #51 closed

[2020-09-07 15:25] ocefpaf commented on #65
Thanks @efiring! My understanding is that this is what the users wanted.

[2020-09-15 01:01] gmacgilchrist commented on #52
Picking up this thread after some time, I'm wondering if there are any plans to implement a stand-alone python implementation of the J&M97 neutral density calculation? I.e. a python equivalent of the matlab-only code that @PaulMBarker has developed.

A truly open-source, FORTRAN-free version of this calculation would be valuable. If it is not already being worked on, and there is not a like-for-li

[2020-09-16 13:15] ledm opened #68 "Reference pressure array in geostrophy.geo_strf_dyn_height"
The documentation for geo_strf_dyn_height says that p_ref can be a "float or array-like". However, if this function is given a numpy array, it leads to the error:

"""
  File "/users/modellers/ledm/anaconda3/envs/ar6/lib/python3.8/site-packages/gsw/geostrophy.py", line 66, in geo_strf_dyn_height
    p_ref = np.float(p_ref)
TypeError: only size-1 arrays can be converted to Python scalars
"""

This

[2020-09-16 14:30] ledm commented on #68
This is my solution. It basically checks whether p_ref is an array, and if so, creates a float with p_ref.

Hope this helps!

"""
def geo_strf_dyn_height(SA, CT, p, p_ref=0, axis=0, max_dp=1.0,
                        interp_method='pchip'):
    """
    Dynamic height anomaly as a function of pressure.

    Parameters
    ----------
    SA : array-like
        Absolute Salinity, g/kg
    CT : arra

[2020-09-16 19:06] efiring commented on #68
Is there an important use case for p_ref to vary from profile to profile?  If not, I'm inclined to just fix the documentation. Supporting p_ref as an array is possible but it is likely to be confusing because of the generality of the inputs, in which an array p_ref would have one dimension fewer than SA etc., and the omitted dimension is given by 'axis'.  I'm not sure the complexity would be worth

[2020-09-16 19:09] efiring commented on #68
[code]
I think you are making an assumption here about the dimensions of the input and the value of 'axis'.

[2020-09-17 08:43] ledm commented on #68
The use case for us is that if we have an array of profiles with varying sea floor depth, and we want the reference depth to be either the seafloor or 2000m, whichever is shallower.

[2020-09-18 17:31] efiring commented on #68
I think this is a misunderstanding of the way the function works, and how to use it. p_ref is the lowest-pressure limit of the integral, not the highest-pressure limit.  There is really no reason for it not to be left at its default value of 0.  The user may then re-reference to the bottom of the cast, or any intermediate depth, in a separate step.

This is simply copying the behavior of the origi

[2020-09-23 08:18] ledm commented on #68
Okay, thanks. I think I may be misunderstanding how this works. Perhaps you can advise me on this issue then.  I'm trying to use TEOS-10 to steric calculate sea level rise in CMIP6, based on the work in  Paul J Durack et al 2014 Environ. Res. Lett. 9 114017 (https://iopscience.iop.org/article/10.1088/1748-9326/9/11/114017). Although, to be completely honest, I'm struggling with the documentation.

[2020-11-17 13:43] ggardet opened #70 "test_check_function[cfcf68] fails on aarch64"
`test_check_function[cfcf68]` fails on aarch64 since version 3.4.0.

[code]

[2021-03-23 16:01] jbusecke opened #71 "Citation/DOI"
Hi everyone,

Many thanks for maintaining this important package. I am currently writing up a manuscript and would like to cite this package. Could you provide some guidance, how to do this best? I did not see a DOI right away.

Thanks

[2021-03-23 16:10] DocOtak commented on #71
Hi @jbusecke, I believe the way to cite official implementations of TEOS-10 is by citing [the manual](http://www.teos-10.org/pubs/TEOS-10_Manual.pdf), see Appendix C (reproduced here):

[2021-03-23 16:28] jbusecke commented on #71
Thank you very much for the quick reply @DocOtak!

[2021-03-23 16:28] #71 closed

[2021-03-23 17:14] ocefpaf commented on #71
We can provide a DOI via zenodo for the latest code and the releases. It would help with provenance, etc. I'll look into it and add a badge to the README.

[2021-03-23 17:28] jbusecke commented on #71
Thanks @ocefpaf. Ill make sure to put that into the final revision once available.

[2021-03-24 18:45] ocefpaf commented on #71
I added the badge to the README. Thanks for bringing this up!

[2021-03-31 23:17] eldobbins opened #74 "NotImplementedError error when using z_from_p with pandas DataFrame"
I had code that was perhaps broken by the latest release.

It seems like I used to be able to use Series from a pandas DataFrame as arguments to gsw.z_from_p().  I.e. this worked:

[code]
 pressure | latitude | depth
-- | -- | --
0 | 70 | 0.000000
10 | 70 | 9.898516
20 | 70 | 19.796552

but with v3.4.0, the same code gives me this error.
[code]

This works:
[code]

What is the appropriate behavior

[2021-03-31 23:40] eldobbins commented on #74
This works, so I think the problem is with z_from_p

[code]

  | pressure | latitude | longitude | salinity | Absolute_Salinity
-- | -- | -- | -- | -- | --
0 | 70 | -125 | 32 | 32.154535
10 | 70 | -125 | 33 | 33.158960
20 | 70 | -125 | 34 | 34.163360

[2021-04-01 00:21] efiring commented on #74
It works with an analogous situation using xarray, and we test with xarray but not Pandas. Why it works for one function and not another with Pandas, I don't know. The error is coming from inside Pandas.
It looks like the error message from Pandas is misleading, and the real problem is that its __array_ufunc__ implementation can't handle a mixture of pd.Series and np.ndarray arguments.  In the cas

[2021-04-01 01:14] eldobbins commented on #74
I'm curious about the phrase "mixed DataFrame and Series inputs."  In my example, I'd think that both df['pressure'] and df['latitude'] are Series.

[2021-04-01 01:35] efiring commented on #74
They are Series.  That's what I showed in the previous comment.  The problem is that z_from_p has two optional arguments which default to zero, but which could be arrays.  They have been converted to ndarrays by the point at which the error occurs.  The error message is incorrect.  The case that is not implemented is not "mixed DataFrame and Series" but mixed Series and numpy.ndarray.

[2021-04-01 01:51] efiring commented on #74
Strangely, it work if only one of the two required arguments is an ndarray:
[code]
(Same with only the second argument being an ndarray.)

[2021-04-01 03:27] efiring commented on #74
@DocOtak found this bug last month and created an issue for it on the Pandas site: https://github.com/pandas-dev/pandas/issues/39853.

[2021-04-01 05:33] DocOtak commented on #74
Last time I looked at the pandas code (when I filed the bug over there), their ``__array_ufunc__`` method was written with the assumption that ufuncs could only be up to 2 argument (vs our usual 4), which is true for all the builtin numpy ufuncs I think. I was heading off to sea at the time so didn't look too hard at things, but I think our solution was to just use the underlying ndarray (the `.va

[2021-04-19 23:45] ratnaksha opened #75 "Error importing gsw"
I am getting the following error importing the gsw library and am baffled by it. Any ideas on what might be going on here? Help very much appreciated!

[code]

[2021-04-20 00:10] efiring commented on #75
What version did you install, and from which conda channel? Or was it from the git repo?  Or via pip?
What is your working directory when you try to import it?

[2021-04-20 00:55] ratnaksha commented on #75
I installed the the latest version (3.4.0) through pip and have also tried conda-forge both on the server and also on my local machine; I get the same error.  I create a new separate pip (or conda) environment  and add the installation to the path. My working directory is just ~/Documents/..

[2021-04-20 01:03] efiring commented on #75
Do you mean you put a location on your PYTHONPATH?  If so, please don't do that.  When you install a package with conda or pip, it is installed to a standard location, so nothing should be added to PYTHONPATH.

[2021-04-20 03:07] ratnaksha commented on #75
Well I guess the issue is that the jupyter notebook I'm running is using the conda (base) environment, whereas I've installed gsw on a different environment (tried both pip and conda environments). I had been able import libraries installed in a different environment when using jupyter by appending conda or pip environments as-

[code]
I get the aforementioned error when I do that. However, if I r

[2021-04-20 03:41] efiring commented on #75
No, this is the way it is all supposed to work: a conda environment works as a self-contained unit.  Any Python packages you want to run, including jupyter itself, should be installed in that environment. The idea is that you can  have different environments that are completely separate and independent, potentially using different versions of Python and of other packages.  Sometimes one even build

[2021-04-20 18:11] ratnaksha commented on #75
Thanks Eric, that was very helpful!

[2021-04-20 18:11] #75 closed

[2021-04-20 22:43] ocefpaf commented on #75
@ratnaksha there are two things to consider here:

1. sometimes people don't want to install jupyter on the environments b/c they believe it is a waste of resources and only want it in the base env. That is not true b/c conda uses hardlinks for packages so 1 installation of jupyter will use the same space as its copies in on multiple envs.
2. Even if you want to go that route, using PYTHONPATH is

[2021-08-17 16:08] mfkenney opened #78 "Build fails with Python 3.9.1 under MacOS 10.15"
I attempted to build the package under MacOS (clang 12.0.0) and it failed with the error shown below. I suspect that the code generation scripts might need to be updated ...

[code]

[2021-08-17 19:48] DocOtak commented on #78
Hi @mfkenney this looks like the header c_gsw/gswteos-10.h is not being found/included. Do you have access to the clang command that was run? E.g. when I do a `python setup.py build` there is a line in the terminal output that looks like this (it's really long):

[code]

[2021-08-17 20:29] mfkenney commented on #78
@DocOtak, that's it. The clang invocation does not include the `src/c_gsw` directory.

[code]

[2021-08-17 20:51] mfkenney commented on #78
@DocOtak, unfortunately, that is not the cause. I used the `include_dirs=['src/c_gsw']` option to setuptools.Extension and I get the same result:

[code]

[2021-08-17 21:13] mfkenney commented on #78
@DocOtak, problem solved. There was another copy of `gswteos-10.h` in `/usr/local/include` on my system that was being read in preference to the copy in `src/c_gsw`. Once I removed the old version, the package compiled fine.

[2021-08-17 21:13] #78 closed

[2021-08-17 21:14] DocOtak commented on #78
Hm... I'm not sure why, the include dir is being configured here in the setup.py: https://github.com/TEOS-10/GSW-Python/blob/63a7747166f243f6eed844ae18c3ac2de54c399e/setup.py#L55

Maybe we don't have that include_dirs in the right place the [setuptools docs](https://setuptools.readthedocs.io/en/latest/deprecated/distutils/setupscript.html#preprocessor-options) have this under the `Extension` class

[2021-08-17 21:31] mfkenney commented on #78
@DocOtak, the `include_dirs` option to `setup` might be deprecated. I have `setuptools` version 51.0.0 and I had to use the `include_dirs` option to the `Extension` function ...

[2021-08-17 23:08] ocefpaf commented on #78
@mfkenney while looking into this error is important are you trying this route b/c there are no wheels for py39? I'll work on that ASAP but is conda an option for you?

[2021-08-17 23:17] mfkenney commented on #78
@ocefpaf I was originally trying to install with `pip` but was able to build my own wheel from the source after fixing `setup.py`.

[2021-11-23 04:27] FudgeMunkey opened #82 "Given valid inputs, some functions return NaN"
## Bug

I have been writing Property Based Tests for GSW using the [Hypothesis](https://hypothesis.readthedocs.io/en/latest/) framework. I have tried to provide reasonable inputs for these functions, however they can return `NaN`.

The following ranges were used:

| Parameter | Minimum | Maximum |
| --- | --- | --- |
| Salinity (g/kg) | 0 | 42 |
| Temperature (C) | -2 | 40 |
| Ice Temperature (C)

[2021-11-23 04:29] FudgeMunkey opened #83 "Given valid inputs, some functions return values outside of valid ranges"
## Bug

I have been writing Property Based Tests for GSW using the [Hypothesis](https://hypothesis.readthedocs.io/en/latest/) Framework. I have tried to provide reasonable inputs and outputs for these functions, however they sometimes return values outside of this range.

The following input ranges were used:

| Parameter | Minimum | Maximum |
| --- | --- | --- |
| Salinity (g/kg) | 0 | 42 |
| Tem

[2021-11-23 17:34] richardsc commented on #83
Hi! I'm not strictly one of the python devs, but since the python library bundles the same C library that R does I'm interested in what's going on here.

For this case, I would point out that your input conductivity range is very wrong -- seawater conductivity in mS/cm should be in the range of 0-60 or so.

I'll let the python devs comment specifically on the tests and we can see if the underlying

[2021-11-23 22:04] FudgeMunkey commented on #83
Thank you for letting me know about the seawater conductivity ranges, I've updated the tests and it's no longer a problem for `SP_from_C` in this issue. It does return `NaN` sometimes though, so I'll update #82 to reflect this.

[2021-11-24 01:59] DocOtak commented on #83
First off, love the idea of hypothesis and have never really been able to find ways to incorporate it into my own testing stuff.

Here is my impression of these results so far...

* ``melting_ice_into_seawater``:
     this is melting a parcel of water that is almost 80% -15C ice at ~8000 meters depth. The melting point of water drops quite a bit at these pressures. At full ocean depth I think the

[2021-12-13 15:16] rcaneill opened #84 "[Add feature] Add cf compliant attributes"
Hello, thanks for the great gsw package!
While using it with xarray, I thought that it would be very nice that gsw adds all the cf compliant (or at least the standard name + unit) attributes to the returned DataArray. I quickly went through the code, but everything is wrapped / ufuncs so I did not find any easy solution to add the attributes.

Does any of the core developer has any idea on this? I

[2021-12-13 17:57] efiring commented on #84
I'm not sure how hard this would be.  We are already using a decorator to do a little processing of input arguments and corresponding modification of output arguments to match: see `match_args_return` in `gsw/_utilities.py`.  I'm guessing that a similar but much more complicated decorator would be needed for the xarray attribute handling you are proposing.

[2021-12-14 18:21] ocefpaf commented on #84
I have to confess that I believe this would be a nice extra package. Putting this inside gsw could make it harder to maintain. As a new package, maybe a plugin(?), this package could evolve faster and easier than adding the code here.

With that said, I'm not against it, I just believe an external package is a better solution in the long term.

[2021-12-14 18:49] efiring commented on #84
I agree; I would not want a bunch of extra logic for xarray in the execution path for cases where the inputs are simple ndarrays or masked arrays.  The xarray logic needs to be kept quite separate in order to keep things manageable. My first question is, can everything be done by substituting a different decorator for `match_args_return`?  Or at least almost everything?

[2021-12-15 05:14] DocOtak commented on #84
This has significant potential... I did a hack up with a decorator and some argo data.

[code]

The output looked like

[code]

If I were to expand on this (and I think I do want to), I'd probably make a xarray accessor that relies on cf-xarray to tell me what is available, and then figure out what gsw properties I could have it make. There are some cases about what to do when multiple variable ha

[2021-12-15 09:13] rcaneill commented on #84
Very nice!
Probably the most annoying work would be to write a dict containing all the standard names of the gsw functions outputs. @DocOtak inspired from your example, I made a quick tests that uses the name of the function to determine the attributes. It relies on cf-xarray to add the cf attributes:

[code]

The output is:
[code]

And for CT:
[code]

Output:
[code]

[2021-12-15 09:14] DocOtak commented on #84
Well I went a little nuts: https://github.com/DocOtak/gsw-xarray/blob/master/gsw_xarray/__init__.py

Clearly it's a fresh project and needs more docs and some... more work. However, it's installable right now with `pip instal gsw-xarray` and it's a drop in replacement/wrapper for the normal gsw library.

Right now it only adds/modified the standard_name and units attributes and leaves everything e

[2021-12-15 09:17] rcaneill commented on #84
@DocOtak seems like we did the same thing :)

[2021-12-15 09:18] rcaneill commented on #84
Should we move this discussion to the new project and close this issue?

[2021-12-15 09:18] #84 closed

[2021-12-26 19:04] efiring opened #85 "BUG: inadequate wrapping of longitude in gsw_saar"
See https://github.com/TEOS-10/GSW-C/issues/46

[2021-12-29 20:22] #85 closed

[2022-03-01 18:58] sophieclayton opened #90 "can't install gsw - build failing with pip and conda"
I've tried using both conda and pip to install gsw, but the build is failing.
Any ideas what the issue might be?
I am running Python 3.9.7, pip 21.2.4 and conda 4.10.3

Here is the error log when trying to install using pip:

[code]

[2022-03-01 19:15] efiring commented on #90
It looks like your pip build is failing because you don't have the command-line compiler tools installed.
To install them, execute:

xcode-select --install

However, for installing any released version of gsw, I recommend using conda with the conda-forge channel.

In your activated conda environment, try:

conda install -c conda-forge gsw

[2022-03-01 20:33] sophieclayton commented on #90
thanks @efiring, I worked that out right after I posted this issue...

that said, I have been unable to install gsw via conda using the above command because of various package conflicts that conda can't resolve. I'm not sure why, as I had no issues installing gsw ver 3.4.0 using pip.

[2022-03-01 20:46] sophieclayton commented on #90
re-opened, issue outlined in edited comment above...

[2022-03-01 21:55] efiring commented on #90
Sophie, for conda, try this first:

conda config --append channels conda-forge

My preference is to use miniconda, make conda-forge the default source, and put things in my working environment manually rather than starting with the anaconda distribution.  See https://currents.soest.hawaii.edu/ocn_data_analysis/installation.html.

[2022-03-01 22:56] sophieclayton commented on #90
Thanks Eric.
I already have conda-forge set as the default source, and I have a separate working environment set up that I am trying to install gsw into.
I'm not sure what's going on as I haven't had any issues installing or using gsw in the past... but I did just do a clean reinstall of conda and upgraded to python 3.9, so I'm not surprised that everything is broken now.

[2022-03-02 00:54] DocOtak commented on #90
Would it be worth investigating the usage of [pypa/cibuildwheel](https://github.com/pypa/cibuildwheel) to make wheels all the various combinations of os/arch combinations?

[2022-03-02 17:32] ocefpaf commented on #90
@DocOtak our current setup creates all wheels. I'm just lagging behind automating the upload of the rest of them due to a hiccup with my PyPI account. With that said, cibuildwheels improved a lot and automates many of the steps we wrote here, so it is worth taking some time to implement it.

@sophieclayton conflicts are bound to happen with big environments. Please check conda-forge usage docs for

[2022-03-02 23:55] sophieclayton commented on #90
thanks @ocefpaf
as I said above, my original issue occurred when trying to install gsw into a separate environment with a relatively small number of packages already installed (numpy, pandas, xarray, matplotlib, scipy + dependencies), not conda base.

I'll close this now as I have gsw working in a new environment.

[2022-03-02 23:55] #90 closed

[2022-03-09 09:18] rcaneill opened #92 "Units / docsting issues"
Hello,
while working on gsw-xarray we caught some errors in the units / docstrings. I list here what we found, if you agree on the correction I'll submit a PR:

* `rho_first_derivatives_wrt_enthalpy` : the whole docstring seems to be incorrect (cf [matlab doc](https://www.teos-10.org/pubs/gsw/html/gsw_rho_first_derivatives_wrt_enthalpy.html)). On top of this, the matlab doc unit is incorrect for r

[2022-03-10 09:32] rcaneill commented on #92
I caught another typo:
* `cp_ice` : the docstring says "Calculates the isobaric heat capacity of seawater." instead of "Calculates the isobaric heat capacity of **ice**."

[2022-05-20 08:12] rcaneill commented on #92
Hello,
I'm pinging on this issue, should I open a PR with the corrections I proposed?

[2022-05-20 17:47] efiring commented on #92
The docstrings for these ufuncs are composed by parsing the matlab help text, which is automated.  Now and then, the matlab version being parsed is updated, at which point fixes to the matlab are inherited by the Python.  I'm reluctant to have changes made directly in the Python sources because they will just get clobbered the next time the sources are regenerated with a newer matlab version.  The

[2022-05-22 09:06] rcaneill commented on #92
Ok, I don't do anything then

[2022-05-22 11:48] richardsc commented on #92
Well at the very least these suggested corrections should be made for the Matlab version. Probably worth opening an issue there (though the tracked sources are not actually on GitHub).

[2022-05-22 14:21] rcaneill commented on #92
I agree but as the sources are not available, I haven't done it.
If you wish to raise the issue, please do so :)

[2022-05-22 18:25] richardsc commented on #92
@PaulMBarker see the beginning of this thread for some issues and errors discovered in the Matlab help pages. Since there are no sources on GitHub to create a pull request, I thought it best to make you aware so they can be properly propagated into your version.

[2022-05-24 21:58] alexhoppsalot commented on #90
I'm using visual studios and keep gettng the following error every time I try to install gsw.

Collecting gsw
  Using cached gsw-3.4.0.tar.gz (2.6 MB)
  Installing build dependencies ... error
  error: subprocess-exited-with-error

  × pip subprocess to install build dependencies did not run successfully.
  │ exit code: 1
  ╰─> [20 lines of output]
      Collecting pip>9.0.1
        Using cached p

[2022-05-25 00:09] ocefpaf commented on #90
@alexhoppsalot  you have an old pip and your setup is having trouble updating it. I don't know the first thing about visual studios to help you further, sorry. You'll have to ask at visual studios how tou can update your pip.

[2022-05-26 05:31] PaulMBarker commented on #92
If anyone know of any other typos let me know as I have corrected these and will put up the corrected versions shortly.

[2022-06-03 03:52] PaulMBarker commented on #92
I have updated the files to the TESO-10 website.

[2022-06-03 03:52] #92 closed

[2022-06-23 08:54] rcaneill opened #95 "Error when using xarray.DataArray and gsw.geo_strf_dyn_height with numpy < 1.23"
When using xarray.DataArray as inputs for gsw.geo_strf_dyn_height, the result is only NaNs.
Do you have any idea why this is so?

# Example
[code]
Outputs
[code]

Using xarray
[code]
Outputs
[code]

With numpy 1.22.2 I also get a FutureWarning:
[code]

[2022-06-23 08:58] rcaneill commented on #95
With numpy 1.23.0 the functions works well with xarray

[2022-06-23 13:35] rcaneill opened #97 "Error when using arg (instead of kwargs) for optional args in geo_strf_dyn_height"
Due to the transformations of arguments to arrays, if optional arguments are passed as arguments in geo_strf_dyn_height, an error is raised.
I guess that a check should be implemented in https://github.com/TEOS-10/GSW-Python/blob/d75dfe5454fd3050bb36ab92c08ba77fcf087f8f/gsw/_utilities.py#L51-L57 before transforming into arrays.

# exemple 1

[code]
raises
[code]

# exemple 2

[code]

raises
[code]

[2022-06-23 16:35] ocefpaf commented on #97
I have to confess that my preference would be to make them keyword-only arguments as in https://peps.python.org/pep-3102/ instead of changing the `match_args_return`. What do you think @efiring?

[2022-06-23 18:42] DocOtak commented on #97
How about the other way around, where we call the positional arguments using keywords?

How this came up is we are attempting to add some pint.Quantity validation to the inputs over in the gsw-xarray project. The GSW-Python library is very consistent with argument variable names and the expected input units (yay!). We found it super convenient to just convert everything to a kwargs dict and do the

[2022-06-24 07:41] rcaneill commented on #97
I opened an issue in gsw-xarray, but it is relevant to duplicate it here (https://github.com/DocOtak/gsw-xarray/issues/49)

In gsw, iterables are transformed into numpy arrays when used in args, but not when used in kwargs https://github.com/TEOS-10/GSW-Python/blob/d75dfe5454fd3050bb36ab92c08ba77fcf087f8f/gsw/_utilities.py#L18-L57

# Minimal example
[code]

Error raised
[code]

[2022-06-24 16:27] ocefpaf commented on #97
I'm on the fence b/c S, T, p are pretty much "default" inputs and making they kw would force users some extra typing that seems counter intuitive.

[2022-06-24 18:16] efiring commented on #97
I see the attraction of your proposal, but I'm initially inclined to prefer the simpler alternative (on the GSW-Python side) of using `/` in the signature.  For GSW-Python direct users, I don't see any major advantage in letting those positional arguments be keyword arguments. Rather than make `match_args_return` more complicated, why not have gsw-xarray assume the responsibility of supplying the

[2022-06-25 02:58] DocOtak commented on #97
@efiring can you describe the intent behind `match_args_return`? That is, I'd like to understand what it is meant to be doing and not assume from the implementation.

[2022-06-25 03:28] efiring commented on #97
It derives from my liking for masked arrays, and I think I have a couple of versions: the original takes masked or nan-style
array inputs, normalizes to masked, passes them to the inner function, and then converts the returned array to match the inputs. So if an input was masked, then the return will be a masked array. The second, currently in GSW-Python, is the same except that it normalizes to n

[2022-06-25 05:48] DocOtak commented on #97
Isn't almost all of the desired behavior done by the ufunc api already? Specifically:
* Matching the return type is handled by the various `__array_*` that ndarray subclasses implement (including masked arrays), even scalars work.
* ufuncs know what their input types are and have casting rules already, this defaults to "same_kind" but is controllable, setting casting to "unsafe" would emulate a ca

[2022-06-25 07:14] efiring commented on #97
I don't see how masked arrays can be handled properly, maintaining the greater speed of doing all the calculations with ordinary arrays, without the conversion I am doing, or additional logic to handle the `where` kwarg.  Perhaps a decorator based on that logic could be written that would be superior to what we have.  I doubt it would be better for both ndarrays and masked arrays.
Also, `match_arg

[2022-06-25 18:01] DocOtak commented on #97
Here is an initial crack at it, I'm not sure the best way I can share a jupyter notebook here so I've attached a zip with the ipynb and html output versions. Let me know if there is a better way.

For now, this is only for the `gsw._warpped_ufunc.*` functions, I haven't looked at the more "python" funcs.

I took a look at how masked_arrays implement their own ufuncs, the two argument ufuncs are wr

[2022-06-25 20:44] efiring commented on #97
That looks very promising.  My machine doesn't have enough memory to do the big data tests in a reasonable amount of time, but otherwise the results are similar.

[2022-09-13 16:20] ocefpaf opened #103 "Rename master to main"
@efiring and @DocOtak what do you think? It should not be too disruptive. Most of the projects I'm part of already moved away from the name master.

[2022-09-13 16:50] DocOtak commented on #103
I've not taken an active role in this type of decision and will be happy with whatever is decided (or what my tools default to).

[2022-09-13 17:54] efiring commented on #103
For the sake of adhering to the standard set by the git default--basically, for consistency--I'm OK with the change if you would like to execute it.

[2022-09-13 17:56] ocefpaf commented on #103
Done!

[2022-09-13 17:56] #103 closed

[2022-09-13 17:58] DocOtak commented on #103
I see a bunch of refs to "master" in the gh actions, do those need to be updated?

[2022-09-13 18:16] ocefpaf commented on #103
See #105

[2022-09-13 19:13] #53 closed

[2022-09-13 20:07] ocefpaf commented on #74
Looks like there is a PR upstream to fix https://github.com/pandas-dev/pandas/issues/39853.

xref.: https://github.com/pandas-dev/pandas/pull/48280

[2022-10-09 23:51] efiring commented on #40
I think this can be closed.  Test casts and check values are all different now, with the move to the v3_05_16
Matlab zip.  Maybe new failures will pop up on some architecture, and we will have to investigate again.

[2022-10-09 23:51] #40 closed

[2022-10-09 23:56] efiring commented on #52
See https://github.com/geoffstanley/neutralocean.

[2022-10-09 23:56] #52 closed

[2022-10-10 00:09] efiring commented on #70
Test data and check values have been updated in #107, along with a bug fix from the
Matlab version.  If your aarch64 system yields a failure after
this update, please open another issue, and provide more information about your machine and OS.

[2022-10-10 00:09] #70 closed

[2022-10-11 20:48] DocOtak commented on #74
The upstream fix has landed and should be included in pandas 1.6.

[2022-10-11 21:50] efiring commented on #74
Excellent, thank you!

[2022-10-17 12:31] ocefpaf opened #111 "Re-implement gsw.infunnel"
Issue https://github.com/TEOS-10/GSW-R/issues/55 kind of reminded me that we had this in https://github.com/TEOS-10/python-gsw/blob/7d6ebe8114c5d8b4a64268d36100a70e226afaf6/gsw/gibbs/library.py#L1535-L1576 but lost it when migrating to the C-wrapped code. Our docs also do not mention this, causing users to open issues like https://github.com/TEOS-10/GSW-Python/issues/83.

@efiring would you agree

[2022-10-17 18:41] dankelley commented on #111
I wonder why there is no check on negative pressures, but in GSW-R I just transliterated the matlab code as-is.

[2022-10-17 18:54] efiring commented on #111
Good question, though the check should be on negative *absolute* pressure; "ocean pressure" as defined by GSW can be negative.

[2022-10-18 14:14] ocefpaf commented on #111
@douglasnehme is that something you would like to work on?

[2022-10-18 16:52] efiring commented on #111
I agree that we should have a "funnel" function.  The first question, though, is whether it should be added to the C version rather than coded separately in each language.

[2022-10-18 16:59] dankelley commented on #111
I feel that pretty much everything like this ought to be in the C version and then just wrapped in the R, python, etc., versions.  This should reduce the error "surface".  Also, of course, folks using C directly might want the funnel function.

[2022-10-18 18:12] efiring commented on #111
That's also my inclination: put it in C.

[2022-10-18 18:24] douglasnehme commented on #111
Yes, @ocefpaf, it would be something I would like to work on. But since @efiring and @dankelley see more gains in implementing the infunnel directly in C we can search for another potential issue.

[2022-10-18 19:31] ocefpaf commented on #111
Sure. I'll find a pure Python project to get your feet wet. With that said, infunnel is not too complicated in you want to try something in C.

[2022-10-18 19:43] douglasnehme commented on #111
Maybe in the future, I try to use C, but now I prefer to give my first contributions to open-source projects with something that I have confidence in.

[2022-11-29 20:09] #95 closed